<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlayGround</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <h1><strong>WELCOME!</strong></h1>

    <main class="container">
      {% for i in range(num) %}
      <div class="boxes" style="background-color: {{color}} !important;"></div>
      {% endfor %}
    </main>
  </body>
</html>
